<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Os Simpsons</ion-card-title>
      <ion-card-subtitle>17 de dezembro de 1989</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/9fSGtPOp3MlFfynLEjYjlOfenbk.jpg"/>
      <p>
        A família Simpsons mora na cidade de Springfield,
        uma cidade americana como qualquer outra.
        Homer trabalha como inspetor de segurança
        numa usina de energia nuclear.…
      </p>
      <ion-button expand="block" fill="outline">Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Stranger Things</ion-card-title>
      <ion-card-subtitle>15 de julho de 2016</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/esKFbCWAGyUUNshT5HE5BIpvbcL.jpg"/>
      <p>
        Quando um garoto desaparece, 
        a cidade toda participa nas buscas.
         Mas o que encontram são segredos, 
         forças sobrenaturais e uma menina.
      </p>
      <ion-button expand="block" fill="outline">Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>