<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <h1>Guardiões da Galáxia</h1>
        <h5>30 de julho de 2014</h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jp8VuqoeknyLe56JtFDIqhUaRrZ.jpg" />
        <p>
          O aventureiro do espaço Peter Quill
          torna-se presa de caçadores de recompensas
          depois que rouba a esfera de um vilão
          traiçoeiro, Ronan. Para escapar do perigo, ele…
        </p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>

      <ion-col size="6">
        <h1>Vingadores: Ultimato</h1>
        <h5>24 de abril de 2019</h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/q6725aR8Zs4IwGMXzZT8aC8lh41.jpg" />
        <p>
          Após os eventos devastadores de
          "Vingadores: Guerra Infinita", o universo
          está em ruínas devido aos esforços do
          Titã Louco, Thanos. Com a ajuda de aliados remanescentes…
        </p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6">
        <h1>Operação Big Hero</h1>
        <h5>24 de outubro de 2014</h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/zBDs1y1fK921HrhdRMqlloUqp5Z.jpg" />
        <p>
          Cidade de San Fransokyo, Estados Unidos.
          Hiro Hamada (voz de Ryan Potter)
          é um garoto prodígio que, aos 13 anos,
          criou um poderoso robô para participar de lutas…
        </p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>

      <ion-col size="6">
        <h1>Capitã Marvel</h1>
        <h5>6 de março de 2019</h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/hVgLHgnsO46oSHJy5I4ekhqtoYv.jpg" />
        <p>
          A história segue Carol Danvers
          e como ela se torna um dos heróis
          mais poderosos do universo quando
          a Terra é pega no meio de uma 
          guerra galáctica entre duas raças…
        </p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>